/*.accordeon {
    display: flex;
    width: 100%;
    gap: 10px;
  }*/
  
details {
    position: relative;
    min-width: 100px;
    transition: all 0.3s ease;
  }

details[open] {
    display: flex;
    gap: 10px;
  }

summary {
    list-style: none;
    cursor: pointer;
    
  }

summary::-webkit-details-marker {
    display: none;
  }

  details > summary {
    list-style: none;
  }
details > summary::-webkit-details-marker {
    display: none;
  }

.arrow {
    width: 0; 
    height: 0; 
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;

    border-left: 30px solid grey;
  }
details[open] .arrow {
    transform: rotate(90deg);

}